NODE_ENV="development"
PORT=8080
COOKIE_SECRET=
JWT_SECRET=
SYNC_ADMIN_KEY=
GOCARDLESS_BASE_URL=https://bankaccountdata.gocardless.com/api/v2
GOCARDLESS_SECRET_ID=
GOCARDLESS_SECRET_KEY=
GEMINI_API_KEY=
GENAI_CATEGORIZATION_ENABLED="false"
SYNC_TRANSACTIONS_ENABLED="false"
SYNC_ACCOUNT_STATUSES_ENABLED="false"
DATABASE_URL=